.container-email {
  display: flex;
  flex-direction: row;
  margin: calc(2vw) 5% calc(2vw) 0;
          /* top | right | bottom | left */
}

.container-email-item-show {
  display: flex;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--greya)
  );
  width: fit-content;
}

.container-email-item-address {
  flex-grow: 1; 
  display: flex;
  background-color: var(--greya);
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 0 0.8rem 0.8rem 0;
  /* top-left | top-right | bottom-right | bottom-left */
}

.container-email-item-copy {
  display: flex;
}

.button-email-show:hover {
  background-color: var(--buttonemailcolorb);
}

.button-email-show:active {
  background-color: var(--buttonactivecolor);
}

.button-email-show {
  border-radius: 0.8rem;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(90% + 0.15vw);
  font-weight: bold;
  color: var(--white);
  background-color: var(--buttonemailcolor);
  padding: 0.7rem 0.7rem;
  margin: 0 0 0 0;
    /* top | right | bottom | left */
  border: 0;
  text-align: center;
  text-decoration: none;
}

.button-copy{
  height: 100%;
  width: 3rem;
  border-radius: 0.8rem;
  background-color: var(--buttonemailcolor);
  background-repeat: no-repeat;
  background-image: url("../images/icon-copy.png");
  background-size: calc(40% + 0.3vw);
  background-position: center;
  margin: 0;
  border: 0;
} 

.button-copy:active {   
  background-color: var(--aquabluedark);
}

.button-copy:hover {
  background-color: var(--buttonemailcolorb);
}

.button-copy:active {
  background-color: var(--buttonactivecolor);
}

.email-address {
  font-size: calc(90% + 0.15vw);
}

@media screen and (min-width: 850px) {
  .container-email {
    width: 48rem;
  }

  .button-email-show {
    font-size: 1rem;
  }

  .email-address {
    font-size: 1rem;
  }
}
