
* {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --gray1: #333333;
    --gray2: #555555;
    --gray3: #cccccc;
    --gray4: #aaaaaa;
  
    --black: #080808;
    --teal: #006060;
    --lightteal: #008080;
    --purple: #800080;
    --navy: #000080;
    --cyan: #17a2b8;
    --violetred: #c71585;
    --red: #ff0000;
    --orange: #ffa500;
    --green: #006400;
    --pagetitle: #000000;
    --topbackgleft: #62d5e9;

    --footer-height: 10rem;
  }

body {
    margin: 0; 
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 1.0rem; */
    font-size: calc(90% + 0.5vw);
    color: var(--gray1);
}

.page_title-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(250% + 0.5vw);
    color: var(--white);
}

  @media (min-width: 650px) {


  }

  @media (min-width: 850px) {

  }
