.page_title-text {
  font-family: "Oswald", sans-serif;
  font-size: calc(250% + 0.5vw);
  color: var(--white);
  text-decoration: underline;
}

header a:link {
  text-decoration: none;
}

header a:visited {
  color: var(--white);
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

@media (min-width: 650px) {
  .page_title-text {
    text-decoration: none;
  }
}
