
.flex-container-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .flex-item-nav {
    padding: 1.5rem 0;
    font-size: 1rem;
    text-align: center;
    width: 12.5rem;
    height: 5rem;
  }

  .a-nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--pagetitle);
    text-decoration: none;
  }

  .flex-item-nav:hover {
    color: var(--orange);
  }

  .flex-item-nav:hover a {
    color: var(--orange);
  }

  .a-nav:hover {
    color: var(--orange);
    text-decoration: none;
  }

.container-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.7fr;
  grid-template-areas: "page_title" "nav-top";
  background-image: linear-gradient(to right, #553872,#322043);
}

.page_title-div {
  grid-area: page_title;
  padding: 1rem;
}

.nav-top {
  grid-area: nav-top;
}

@media (min-width: 650px) {

  .container-top {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 1fr;
    grid-template-areas: "page_title nav-top";
    background-image: linear-gradient(to right, #553872,#322043);
  }

}


